:css
  /* Tooltip container */
  .custom-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    opacity: 0.88;
    overflow: visible;
  }

  /* Tooltip text */
  .custom-tooltip .tooltip-text {
    visibility: hidden;
    display: table;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 110%;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .custom-tooltip:hover .tooltip-text {
    visibility: visible;
  }

  ul.tooltip-list {
    text-align: left;
    padding: 0 0 0 20px;
    margin-bottom: 0px;
  }

%h2
  = @project.name_with_namespace
  .pull-right
    = link_to 'Log time', '/log_time', class: 'btn btn-success btn-sm'
%p
  = link_to '&larr; Prev', "/project/#{@project.id}?day_to=" + (@day_to - 1.week).to_s, class: 'btn btn-xs btn-default'
  &nbsp;
  From #{@day_from.strftime("%b %d")} to #{@day_to.strftime("%b %d")}.
  &nbsp;
  = link_to 'Next &rarr;', "/project/#{@project.id}?day_to=" + (@day_to + 1.week).to_s, class: 'btn btn-xs btn-default'

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
      - @days.each do |date|
        %th= date.strftime("%b %d")
    %tr
      %th Issues
      - @days.each do |date|
        %th{class: (date.saturday? || date.sunday?) ? 'alert alert-warning' : 'alert alert-success'}
          = date.strftime("%a")

  %tbody
    - @time_logs.group_by(&:user_id).each do |user_logs|
      - user = current_user.api.user(user_logs[0])
      %tr
        %td
          %strong
            = link_to user.username, (Api::Gitlab::SERVER_URL + '/u/' + user.username), target: "_blank"
        - @days.each do |date|
          %td.clight
            - time = user_logs[1].inject(0) { |sum, x| sum + (x.day == date ? x.time : 0) }
            - unless time.zero?
              = time.round(2)

      - user_logs[1].group_by(&:issue_iid).each do |logs|
        %tr
          %td
            &nbsp; #{link_to "#" + logs[0].to_s, issue_url(@project, logs[0])}
            #{current_user.api.issue(@project.id, logs[0]).title}
          - @days.each do |date|
            %td
              - time = logs[1].inject(0) { |sum, x| sum + (x.day == date ? x.time : 0) }
              - unless time.zero?
                .custom-tooltip
                  = time.round(2)
                  %span.tooltip-text
                    %ul.tooltip-list
                      - logs[1].select { |x| x.day == date }.each do |log|
                        - if log.comment.present?
                          %li
                            = log.comment
    %tr
      %td
        %strong Total
      - @days.each do |date|
        %td
          %strong
            = @time_logs.where(day: date).sum(:time).round(2)
